profiles {
    standard {
        process.executor = 'local'
        process.errorStrategy = 'ignore'
        conda.cacheDir = "${launchDir}/.conda_cache"
        conda.enabled = true
        conda.useMamba = true
        report.overwrite = true
        trace {
            enabled = true
            raw = true
            file = 'final_trace_minigraph.tsv'
            fields = 'tag,name,status,exit,realtime,cpus,disk,%cpu,%mem,peak_rss,peak_vmem,rchar,wchar'
        }
    }    
}